/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed, 
   figure, figcaption, footer, header, hgroup, 
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
   	margin: 0;
   	padding: 0;
   	border: 0;
   	font-size: 100%;
   	font: inherit;
   	vertical-align: baseline;
   }
   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure, 
   footer, header, hgroup, menu, nav, section {
   	display: block;
   }
   body {
   	line-height: 1;
   }
   ol, ul {
   	list-style: none;
   }
   blockquote, q {
   	quotes: none;
   }
   blockquote:before, blockquote:after,
   q:before, q:after {
   	content: '';
   	content: none;
   }
   table {
   	border-collapse: collapse;
   	border-spacing: 0;
   }

   /*reset css*/

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
 	content: " "; /* 1 */
 	display: table; /* 2 */
 }

 .cf:after {
 	clear: both;
 }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
 .cf {
 	*zoom: 1;
 }
 /*mikroclearfix*/
 
 body {
 	/*background-image: url(back.png);
 	background-size: cover;*/
 }
 .container {

 	width: 1140px;
 	height:2000px;
 	margin-left: 100px;
 	margin-right: 100px;
 	
 	background-color: #fff; 
 }
 .navbar {
 	position: absolute;
 	width: 1140px;
 	height: 100px;
 	
 	top: auto;

 }
 .navbar h1 {
 	position: absolute;
 	width: 102px;
 	height: 45px;
 	top: 52px;
 	font-family: Poppins;
 	font-style: normal;
 	font-weight: bold;
 	font-size: 30px;
 	line-height: 45px;
 	/* identical to box height */


 	color: #000000;

 }
 
 .navbar h3 {
 	position: absolute;
 	right: 170px;
 	top: 60px;
 	width: 60px;
 	height: 30px;
 	font-family: Poppins;
 	font-style: normal;
 	font-weight: 600;
 	font-size: 20px;
 	line-height: 30px;
 	/* identical to box height */
 }
 .navbar a{
 	text-decoration: none;
 }
 .navbar a:hover {
 	background-color: white;
 	color: blue;

 }
 .sig {
 	position: absolute;
 	width: 140px;
 	height:50px;
 	/*border: 1px solid blue;*/
 	right: 0px;
 	top: 50px;
 	background: #FF7048;
 	border-radius: 12px;

 }
 .sig h2 {
 	position: absolute;
 	width: 77px;
 	height: 30px;
 	right: 31px;
 	top: 10px;

 	font-family: Poppins;
 	font-style: normal;
 	font-weight: 600;
 	font-size: 20px;
 	line-height: 30px;
 	/* identical to box height */
 	color: #FFFFFF;

 }
 .sig a {
 	color: white;
 }
 .hero {
 	position: absolute;
 	width: 1140px;
 	height: 500px;
 	top: 135px;
 	background-image: url(img/Hero.png);
 	background-repeat: no-repeat;
 	background-size: cover;
 	background-position: -100px 0px ;
 	border-radius: 30px;
 }
 .trevel {
 	position: absolute;
 	width: 427px;
 	height: 160px;
 	left: 200px;
 	top: 235px;
 }
 .trevel p {
 	font-family: Poppins;
 	font-style: normal;
 	font-weight: bold;
 	font-size: 70px;
 	line-height: 80px;
 	/* or 114% */


 	color: #24201D;

 }
 .trevel h1 {
 	position: absolute;
 	width: 114px;
 	height: 27px;
 	left: 8px;
 	font-family: Poppins;
 	font-style: normal;
 	font-weight: 600;
 	font-size: 18px;
 	line-height: 27px;
 	/* identical to box height */


 	color: #24201D;

 	opacity: 0.6;
 }
 span {
 	margin-top: 47px;
 	margin-left: 7px;
 	font-size: 30px;
 	font-family: Poppins;
 	font-weight: 500;
 	line-height: 21px;
 	color: #000000;
 	opacity: 0.5;

 }
 .kotak {
 	position: absolute;
 	width: 1000px;
 	height: 130px;

 	top: 570px;
 	left: 170px ;
 	background-color: white;
 	border-radius: 20px;
 }
 .kotak a {
 	text-decoration: none;
 }
 .kotak a:hover {
 	background-color: blue;
 	color: white;
 }
 .lokasi {
 	position: absolute;
 	left: 50px;
 }
 .lokasi h1 {
 	position: absolute;
 	width: 89px;
 	height: 30px;
 	top: 40px;

 	font-family: Poppins;
 	font-style: normal;
 	font-weight: bold;
 	font-size: 20px;
 	line-height: 30px;
 	/* identical to box height */


 	color: #000000;

 }
 .lokasi p {
 	position: absolute;
 	width: 116px;
 	height: 21px;
 	top: 75px;

 	font-family: Poppins;
 	font-style: normal;
 	font-weight: 500;
 	font-size: 14px;
 	line-height: 21px;
 	/* identical to box height */


 	color: #000000;

 	opacity: 0.5;

 }
 .fa-map-marker-alt{
 	margin-top: 75px;
 	margin-left: 140px;
 	font-size: 20px;

 	font-family: Poppins;
 	font-weight: 500;
 	line-height: 21px;
 	color: #000000;
 	opacity: 0.5;
 }
 /*.lokasi img {
 	position: absolute;
 	top: 75px;
 	height: 20px;
    width: 14.0625px;
    left: 127px;


    }*/
    .aktivi {
    	position: absolute;
    	left: 279px;
    }
    .aktivi h1 {
    	position: absolute;
    	width: 81px;
    	height: 30px;
    	top: 40px;

    	font-family: Poppins;
    	font-style: normal;
    	font-weight: bold;
    	font-size: 20px;
    	line-height: 30px;
    	/* identical to box height */


    	color: #000000;

    }
    .aktivi p {
    	position: absolute;
    	width: 88px;
    	height: 21px;
    	top: 75px;

    	font-family: Poppins;
    	font-style: normal;
    	font-weight: 500;
    	font-size: 14px;
    	line-height: 21px;
    	/* identical to box height */


    	color: #000000;

    	opacity: 0.5;

    }
    .fa-dot-circle{
    	margin-top: 75px;
    	margin-left: 118px;
    	font-size: 20px;

    	font-family: Poppins;
    	font-weight: 500;
    	line-height: 21px;
    	color: #000000;
    	opacity: 0.5;
    }
    .date {
    	position: absolute;
    	left: 500px;
    }
    .date h1 {
    	position: absolute;
    	width: 49px;
    	height: 30px;
    	top: 40px;

    	font-family: Poppins;
    	font-style: normal;
    	font-weight: bold;
    	font-size: 20px;
    	line-height: 30px;
    	/* identical to box height */


    	color: #000000;

    }
    .date p {
    	position: absolute;
    	width: 60px;
    	height: 21px;
    	top: 75px;

    	font-family: Poppins;
    	font-style: normal;
    	font-weight: 500;
    	font-size: 14px;
    	line-height: 21px;
    	/* identical to box height */


    	color: #000000;

    	opacity: 0.5;

    }
    .fa-calendar-week{
    	position: absolute;
    	top: 75px;
    	left: 90px;
    	font-size: 20px;

    	font-family: Poppins;
    	font-weight: 500;
    	line-height: 21px;
    	color: #000000;
    	opacity: 0.5;
    }
    .rec {
    	position: absolute;
    	width: 70px;
    	height: 70px;
    	top: 30px;
    	right: 50px;

    }
    .rec button{
    	width: 70px;
    	height: 70px;
    	background-color:  #FC8868;
    	border-radius: 20px;
    	background-image: url(img/Vector.svg);
    	background-repeat: no-repeat;
    	background-position: center;

    }

    .v1 {
    	position: absolute;
    	left: 236px;
    	top: 40px;
    	width: 3px;
    	height: 50px;
    	background-image: url(img/v1.svg);

    }
    .v2 {
    	margin-top: 43px;
    	margin-left: 454px;
    	width: 3px;
    	height: 50px;
    	background-image: url(img/v1.svg);

    }
    .content {
    	position: absolute;
    	width: 500px;
    	height:  95px;
    	top: 800px;
    	left: 420px;
    	text-transform: capitalize;

    }
    .content h1 {
    	position: absolute;
    	height: 39px;
    	width: 294px;
    	text-align: center;
    	border-radius: nullpx;
    	left: 103px;
    	font-family: Poppins;
    	font-style: normal;
    	font-weight: bold;
    	font-size: 26px;
    	line-height: 39px;
    	/* identical to box height */
    	color: #000000;


    }
    .content p{
    	position: absolute;
    	height: 48px;
    	width: 358px;
    	border-radius: nullpx;
    	top: 49px;
    	left: 71px;
    	font-family: Poppins;
    	font-style: normal;
    	font-weight: 500;
    	font-size: 16px;
    	line-height: 24px;
    	text-align: center;

    	color: #000000;

    	opacity: 0.5;
    }
    .gedung {
    	position: absolute;
    	width: 375px;
    	height: 322px;
    	top: 940px;

    	background: #FFFFFF;
    	/*border: 1px solid /*#FEFEFE*/;
    	*/box-sizing: border-box;
    	border-radius: 20px;
    }
    .gmr {
    	position: absolute;
    	background-image: url(img/Picture.png);
    	width: 335px;
    	height: 200px;
    	left: 20px ;
    	top: 20px;
    	background-repeat: no-repeat;
    }
    .rating {
    	position: absolute;
    	width: 40px;
    	height: 20px;

    	right: 40px;
    	top: 50px;
    	background: #DAFFF8;
    	border-radius: 10px;
    }
    .rating p {
    	width: 19px;
    	height: 18px;
    	margin: 0px auto;
    	font-family: Poppins;
    	font-style: normal;
    	font-weight: 600;
    	font-size: 12px;
    	line-height: 18px;
    	/* identical to box height */


    }
    .gedung h1{
    	position: absolute;
    	top: 235px;
    	left: 20px;
    	width: 79px;
    	height: 30px;

    	font-family: Poppins;
    	font-style: normal;
    	font-weight: 500;
    	font-size: 20px;
    	line-height: 30px;
    	/* identical to box height */


    	color: #040405;

    }
    .dolar{
    	position: absolute;
    	width: 61px;
    	height: 36px;
    	top: 235px;
    	right: 20px;
    	background-repeat: no-repeat;
    	background-image: url(img/$430.svg);

    }
    .gedung h2 {
    	position: absolute;
    	top: 275px;
    	left: 42px;
    	width: 115px;
    	height: 21px;

    	font-family: Poppins;
    	font-style: normal;
    	font-weight: 500;
    	font-size: 14px;
    	line-height: 21px;
    	/* identical to box height */


    	color: #ADADAD;
    }
    .gedung .fa-map-marker-alt {
    	position: 	absolute;	
    	top: 200px;
    	margin-left: 	20px;
    }
  /*  .lok {
    	position: absolute;
    	top: 275px;
    	left: 20px;
    	width: 13.12px;
    	height: 19.22px;
    	background-image: url(img/v2.svg);
    }*/

    .gedung1 {
    	position: absolute;
    	width: 375px;
    	height: 322px;
    	left: 486px;
    	/*border: 1px solid;*/
    	top: 940px;

    	background: #FFFFFF;
    	border: 2px solid #3A8375;
    	box-sizing: border-box;
    	border-radius: 20px;
    }
    .gmr1 {
    	position: absolute;
    	background-image: url(img/pic3.png);
    	width: 335px;
    	height: 200px;
    	left: 20px ;
    	top: 20px;
    	background-repeat: no-repeat;
    }
    .gedung1 h1{
    	position: absolute;
    	top: 235px;
    	left: 20px;
    	width: 150px;
    	height: 30px;

    	font-family: Poppins;
    	font-style: normal;
    	font-weight: 500;
    	font-size: 20px;
    	line-height: 30px;
    	/* identical to box height */


    	color: #040405;

    }
    .dolar1{
    	position: absolute;
    	width: 61px;
    	height: 36px;
    	top: 235px;
    	right: 20px;
    	background-repeat: no-repeat;
    	background-image: url(img/$700.svg);

    }
    .gedung1 h2 {
    	position: absolute;
    	top: 275px;
    	left: 42px;
    	width: 200px;
    	height: 21px;

    	font-family: Poppins;
    	font-style: normal;
    	font-weight: 500;
    	font-size: 14px;
    	line-height: 21px;
    	/* identical to box height */


    	color: #ADADAD;
    }
     .gedung1 .fa-map-marker-alt {
    	position: 	absolute;	
    	top: 200px;
    	margin-left: 	20px;
    }
    
    .gedung2 {
    	position: absolute;
    	width: 375px;
    	height: 322px;
    	left: 867px;
    	/*right: 110px;*/
    	top: 940px;

    	background: #FFFFFF;

    	/*border: 1px solid #FEFEFE;*/
    	box-sizing: border-box;
    	border-radius: 20px;
    }
    .gmr2 {
    	position: absolute;
    	background-image: url(img/pic2.png);
    	width: 335px;
    	height: 200px;
    	left: 20px ;
    	top: 20px;
    	background-repeat: no-repeat;
    }
    .gedung2 h1{
    	position: absolute;
    	top: 235px;
    	left: 20px;
    	width: 150px;
    	height: 30px;

    	font-family: Poppins;
    	font-style: normal;
    	font-weight: 500;
    	font-size: 20px;
    	line-height: 30px;
    	/* identical to box height */


    	color: #040405;

    }
    .dolar2{
    	position: absolute;
    	width: 61px;
    	height: 36px;
    	top: 235px;
    	right: 20px;
    	background-repeat: no-repeat;
    	background-image: url(img/$380.svg);

    }
    .gedung2 h2 {
    	position: absolute;
    	top: 275px;
    	left: 42px;
    	width: 200px;
    	height: 21px;

    	font-family: Poppins;
    	font-style: normal;
    	font-weight: 500;
    	font-size: 14px;
    	line-height: 21px;
    	/* identical to box height */


    	color: #ADADAD;
    }
     .gedung2 .fa-map-marker-alt {
    	position: 	absolute;	
    	top: 200px;
    	margin-left: 	20px;
    }
 
    .content1 {
    	position: absolute;
    	top: 1312px;
    	width: 375px;
    	height: 100px;
    	/*border: 1px solid;*/
    	left: 482px;
    	text-transform: capitalize;


    }
    .content1 h1 {
    	text-align: center;
    	background: #FFFFFF;
    	width: 97px;
    	height: 39px;
    	margin: 0px auto;
    	font-family: Poppins;
    	font-style: normal;
    	font-weight: bold;
    	font-size: 26px;
    	line-height: 39px;
    	/* identical to box height */


    	color: #000000;

    }
    .content1 p {
    	width: 260px;
    	height: 48px;
    	/*border: 1px solid;*/
    	margin: 0px auto;
    	font-family: Poppins;
    	font-style: normal;
    	font-weight: 500;
    	font-size: 16px;
    	line-height: 24px;
    	color: #000000;
    	text-align: center;
    	opacity: 0.5;
    }
    .g1 {
    	position: absolute;
    	top: 1462px;
    	width: 367px;
    	height: 447px;
    	background-size: cover;
    	background-image: url(img/g1.png);
    	background-repeat: no-repeat;
    	border-radius: 15px;
    }
    .g2 {
    	position: absolute;
    	top: 1462px;
    	width: 367px;
    	height: 447px;
    	left: 517px;
    	background-size: cover;
    	background-position: -10px;
    	background-repeat: no-repeat;
    	background-image: url(img/g2.png);

    	border-radius: 15px;
    }
    .g3 {
    	position: absolute;
    	top: 1462px;
    	width: 307px;
    	height: 199px;
    	left: 934px;
    	/*right: 110px;*/
    	background-repeat: no-repeat;
    	background-size: cover;
    	background-image: url(img/g3.png);
    	border-radius: 15px;
    }
    .g4 {
    	position: absolute;
    	top: 1709px;
    	width: 307px;
    	height: 199px;
    	left: 934px;
    	background-size: cover;
    	background-image: url(img/g4.png);
    	border-radius: 15px;
    }

